.page-header
  = link_to types_path, :class => 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_type_path(@type), :class => 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show type

%dl.dl-horizontal
  %dt Name:
  %dd= @type.name
  %dt Color:
  %dd= @type.color
